.text_logo {
  color: #002cb7;
}

.apoiment {
  background-color: #2490eb;
}

.submenu {
  display: none;
}

.menu_item:hover .submenu {
  display: block;
}

.searchbar {
  background-color: #ffffff;
}

.button_search {
  background-color: #14457b;
}


.background_info_top {
    background-color: #14457B;
}